/* add your styles here */

body {
    background: url('/fanstatic/erdenkinder/images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

a, a:hover {
    color: #669129;
}

div#main {
    background: rgb(232, 219, 186);
    background: rgba(232, 219, 186, 0.8);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 25px;
    margin: 3% auto;
}

div#rotation {
    text-align: center;
}

div#rotation img {
    background: #fff;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 4px 0px #333;
    -webkit-box-shadow: 2px 2px 4px 0px #333;
    -moz-box-shadow: 2px 2px 4px 0px #333;
    -o-box-shadow: 2px 2px 4px 0px #333;
}
