/* add your styles here */

body {
    background: url('/fanstatic/erdenkinder/images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'ComicSansMS', 'Comic Sans MS', sans-serif;
    color: #424242;
}

a, a:hover {
    color: #669129;
}

div#main {
    background: rgb(232, 219, 186);
    background: rgba(232, 219, 186, 0.8);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 25px;
    margin: 3% auto;
}

div#rotation {
    text-align: center;
}

div#rotation img {
    background: #fff;
    display: inline-block;
    padding: 4px;
    margin: 10px;
    box-shadow: 1px 1px 2px 0 #666;
    -webkit-box-shadow: 1px 1px 2px 0 #666;
    -moz-box-shadow: 1px 1px 2px 0 #666;
    -o-box-shadow: 1px 1px 2px 0 #666;
}

/* overrides */
.navbar .nav > li > a {
  color: #669129;
}

span.brand a, span.brand a:hover {
  color: #669129;
  font-weight: bold;
}
